.swiper-pagination-bullet{
    border-radius: 5px;
    width: 50px;
    height: 5px;
    background: #23BEEC;
    opacity: 2;
    margin-top: 20px;
}
.swiper-pagination-bullet-active{
    background: red;
}